$animation-duration: 1.5s;

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}


@include keyframes(animated_background) {
  0% {
    background-color: $red-light;
  }
  25% {
    background-color: $red-dark;
  }
  50% {
    background-color: $blue-light;
  }
  75% {
    background-color: $blue-dark;
  }
  100% {
    background-color: $yellow;
  }
}


body {

  -webkit-animation: animated_background $animation-duration linear infinite;
  animation: animated_background $animation-duration linear infinite;
}
