@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}


@include keyframes(animated_background) {
  0% {
    background-color: $red-light;
  }
  20% {
    background-color: $yellow;
  }
  60% {
    background-color: $blue-light;
  }
  100% {
    background-color: $blue-dark;
  }
}


body {

  -webkit-animation: animated_background 0.5s linear infinite;
  animation: animated_background 0.5s linear infinite;
}
