::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


.m-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $white;
}


@keyframes animatedBackground {
  0% { background-color: $red-light; }
  20% { background-color: $yellow; }
  80% { background-color: $blue-light; }
  100% { background-color: $blue-dark; }
}


body {
  animation: animatedBackground 0.5s linear infinite;
}

.tera {
  text-transform: uppercase;
  margin: 3em 0;
}
