.m-footer {
  width: 100%;
  background-color: $white;
}

.tera {
  text-transform: uppercase;
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.5);
  margin: 2em 0;
}

.is-visible {
  opacity: 1;   
}

section span {
  display: inline-block;
  opacity: 0;
}

html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -142px; 
}
.wrapper:after {
  content: "";
  display: block;
}
.m-footer, .wrapper:after {
  height: 142px; 
}