$white       : #FFFFFF;
$black       : #111111;

$pink        : #EB426A;
$blue        : #158D9F;

$yellow     : #FFC540;
$red-light  : #CD3B00;
$red-dark   : #921F00;
$blue-dark  : #0C73BE;
$blue-light : #2BAEF6;


// We use these as default colors throughout
$primary-color: $blue;
$secondary-color: $pink;
$alert-color: #c60f13 !default;
$success-color: #5da423 !default;

$body-font-color: #222 !default;
