.row
  .medium-12.columns

    audio autoplay="" loop=""
      source src="/assets/motus-boule-noire.mp3"
      source src="/assets/motus-boule-noire.ogg"
      Votre navigateur ne supporte pas l'élément audio.

    section
      h1.tera
        / #typewriter.container.typewriter
        | Hoooooo !
        br
        | Ho ho ho ho

